extends layout

block head
	script(src='http://code.jquery.com/jquery-latest.js')
	script(src='/script/animator.js')
	link(rel='stylesheet',href='/style/animator.css')

block content
	#intro_panel
		.btext(data-value='SEEK UOIT&DC')
		.ctext Software Engineering
		.ctext Electrical Engineering
		.ctext Arduino
		.ctext Soldering
		.ctext Contests
		.ctext Bootstrap
		.ctext OpenCV
		.ctext + More!

		.chftext(data-value='1,2,3')
		.etext: span Join SEEK @ UOIT&amp;DC today!
		.etext: span seekuoitdc.ca/form
		.etext: span Check our github.io page!
		.etext: span seekuoitdc.github.io/
